# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
.env
.pytest_cache/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
.override.tf
.override.tf.json
.terraform.lock.hcl

# Editors
.vscode/
.idea/
.DS_Store

# Logs
*.log

# Build artifacts
build/
dist/
coverage/
